# Python
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
venv/
.venv/
**/venv/

# Node
node_modules/
.next/
*.tsbuildinfo

# Env files
.env

# OS
.DS_Store
Thumbs.db

# Data
data/

# ML models
*.pt
*.pth
*.ckpt

# Training outputs
training/**/runs/
*.tmp.h5
